body {
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form-box {
    border: 2px solid #000;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .form-box label {
        margin-bottom: 5px;
    }

    .form-box input {
        margin-bottom: 15px;
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

.message-box {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s;
}

/* Media query para telas menores */
@media (max-width: 600px) {
    .form-box {
        width: 90%;
        padding: 15px;
    }

        .form-box input {
            padding: 10px;
        }
}
